* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #e9ecef;
  width: auto;
  height: 110px;
  border-bottom:2px solid rgb(161, 226, 8) ;
}

.logo {
  width: 90px;
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mail-img{
  width: 600px;
  display: flex;
  
}