@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #f1f1f1;
  width: auto;
  height: 100px;
  border-bottom: 3px solid rgb(18, 125, 255);
}

.logo {
  width: 20rem;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mail-img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text {
  text-align: center;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
}

.btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(18, 125, 255);
  border-radius: 35px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(30, 30, 31);
}

.btn a {
  text-decoration: none;
  color: antiquewhite;
  font-weight: 600;
}

.signature-text {
  text-align: center;
  margin-top: 60px;
}

.sign-font {
  font-family: "Great Vibes", "cursive";
  font-weight: 700px;
  font-size: 35px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 40px;
  margin-top: 40px;
  background-color: #f1f1f1;
  width: auto;
  height: auto;
  border-top: 2px solid rgb(204, 203, 203);
}

.footer-text {
  text-decoration: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 30px;
}

.app-icons {
  display: flex;
  justify-content: center;
}

.footer-img{
  padding-top: 40px;
}

.googleplay-img {
  width: 130px;
}
.appstore-img {
  width: 130px;
}
